.idea
README.md
run.sh
.dockerignore
.gitignore
.git
.editorconfig
.env
.env.dist
app/var/*
app/vendor
app/web/bundles/*
volumes
env
docker-compose.yaml
docker-compose.override.dist.yaml
docker-compose.override.yaml
Dockerfile

