COMPOSE_PROJECT_NAME=api-app

TZ=Europe/Kiev

APP_OUTER_PORT=8045
DB_OUTER_PORT=8015
DB_PORT=3306

DB_IMAGE=mariadb:10.11.6
DB_HOST=db.api
DB_NAME=api_db
DB_USER=api
DB_PASSWORD=mvsQRS22SD
DB_ROOT_PASSWORD=ZhD3FtyXmN5tnE

JWT_SECRET=14cecabc5c99f4d363292c91bc16d880